Repository amos-project2/metadata-hub, pull requests merged in 2020-05, with the labels that each got.

#22 Develop to Master due to release
  .travis.yml
  crawler-config.schema
  crawler/configCrawler.json
  crawler/cpuUsage.py
  crawler/crawler/api/__init__.py
  crawler/crawler/logging/__init__.py
  crawler/crawler/services/__init__.py
  crawler/crawler/services/tracing/TraceEntry.schema
  crawler/crawler/services/tracing/TraceHeader.schema
  crawler/crawler/services/tracing/__init__.py
  crawler/crawler/services/tracing/entry.py
  crawler/crawler/services/tracing/header.py
  crawler/crawler/services/tracing/tracer.py
  crawler/crawler/treewalk/__init__.py
  crawler/doc/README.md
  crawler/doc/graphs/level1.png
  crawler/doc/graphs/level2.png
  crawler/doc/graphs/level3.png
  crawler/doc/graphs/level4.png
  crawler/protocol/protocol.txt
  crawler/requirements.txt
  crawler/tests/__init__.py
  crawler/treeWalk.py
  database/README.md
  database/metadatahub-data.sql
  database/metadatahub-database.sql
  database/metadatahub-role.sql
  database/metadatahub-schemata.sql
  docker/compose/.env
  docker/compose/README.md
  docker/compose/crawler/Dockerfile
  docker/compose/docker-compose.yml
  docker/compose/server/Dockerfile
  docker/compose/travis.sh
  server/README.md
  server/config-deployment.properties
  server/exampleTreeWalkFile.json
  server/pom.xml
  server/src/main/java/Database/DatabaseProvider.java
  server/src/main/java/GraphQL/GraphQLDataFetchers.java
  server/src/main/java/GraphQL/GraphQLProvider.java
  server/src/main/java/JerseyServer/ErrorHandler.java
  server/src/main/java/JerseyServer/JerseyServer.java
  server/src/main/java/JerseyServer/MainController.java
  server/src/main/java/Model/Attribute.java
  server/src/main/java/Model/File.java
  server/src/main/java/Model/Tree_Walk.java
  server/src/main/java/Start/ApplicationConfig.java
  server/src/main/java/Start/Registry.java
  server/src/main/java/Start/RuntimeTests.java
  server/src/main/java/Start/Start.java
  server/src/main/resources/config-local.properties
  server/src/main/resources/graphiql/graphiql.html
  server/src/main/resources/schema.graphqls
  server/tutorials/Project Lombok.txt
Labels: release-merge

#31 First version of the docker deployment image
  .dockerignore
  .travis.yml
  configs/crawler-config.schema
  configs/deployment.env
  configs/environment.default.json
  configs/environment.deployment.json
  configs/environment.schema
  configs/environment.testing.json
  crawler/crawler/services/config/parser.py
  crawler/crawler/services/environment/setup.py
  crawler/requirements/base.txt
  database/metadatahub-database.sql
  docker/Dockerfile
  docker/README.md
  docker/README.txt
  docker/compose/.env
  docker/compose/README.md
  docker/compose/crawler/Dockerfile
  docker/compose/docker-compose.yml
  docker/compose/server/Dockerfile
  docker/deployment/DockerHub.md
  docker/deployment/Dockerfile
  docker/deployment/README.md
  docker/deployment/deploy.sh
  docker/deployment/scripts/database.sh
  docker/deployment/scripts/metadatahub.sh
  docker/exampleImages/wordcloud.jpg
  server/README.md
  server/deprecated/config-local.json
  server/deprecated/config-local.properties
  server/pom.xml
  server/src/main/java/Config/ApplicationConfig.java
  server/src/main/java/Config/Config.java
  server/src/main/java/Config/ConfigJson.java
  server/src/main/java/Config/ConfigProperty.java
  server/src/main/java/Config/JsonValideException.java
  server/src/main/java/Database/DatabaseProvider.java
  server/src/main/java/GraphQL/GraphQLDataFetchers.java
  server/src/main/java/GraphQL/GraphQLProvider.java
  server/src/main/java/JerseyServer/JerseyServer.java
  server/src/main/java/JerseyServer/MainController.java
  server/src/main/java/Model/File.java
  server/src/main/java/Model/Metadatum.java
  server/src/main/java/Start/ApplicationConfig.java
  server/src/main/java/Start/Registry.java
  server/src/main/java/Start/Start.java
  server/src/main/java/TestSetup/TestSetup.java
  server/src/main/resources/.gitignore
  server/src/main/resources/README.md
  server/src/main/resources/schema.graphqls
  server/src/test/java/AllGraphQLQueryTests.java
  server/src/test/java/AllTests.java
  server/src/test/java/ExampleTest.java
  server/src/test/java/GraphQLQueryTests/getDirMetadataTest.java
  server/src/test/java/GraphQLQueryTests/getFileMetadataTest.java
Labels: deployment-system

#32 Simple Query Constructor, sprint ID 27
  server/README.md
  server/pom.xml
  server/src/main/java/Benchmark/BenchmarkTest.java
  server/src/main/java/Benchmark/DirectJsonToEavComparer.java
  server/src/main/java/Config/ApplicationConfig.java
  server/src/main/java/Database/DatabaseProvider.java
  server/src/main/java/GraphQL/GraphQLDataFetchers.java
  server/src/main/java/GraphQL/GraphQLProvider.java
  server/src/main/java/JerseyServer/JerseyServer.java
  server/src/main/java/JerseyServer/MainController.java
  server/src/main/java/Start/CLIParser.java
  server/src/main/java/Start/IntegrationTest.java
  server/src/main/java/Start/Registry.java
  server/src/main/java/Start/Start.java
  server/src/main/resources/schema.graphqls
  server/src/test/java/GraphQLQueryTests/getDirMetadataTest.java
  server/src/test/java/GraphQLQueryTests/getFileMetadataTest.java
  web-ui/package.json
  web-ui/src/crawler/CrawlerConfig.js
  web-ui/src/query/ExamplePage.js
  web-ui/src/query/FormQueryEditor.js
  web-ui/src/query/GraphqlQueryEditor.js
  web-ui/src/template.js
  web-ui/webpack.config.js
Labels: java-application, web-ui
